<!DOCTYPE html>

<html lang = "en">

<head>
    <meta charset = "UTF-8">
    <title>Chilled Greese Recipe</title>

</head>


<body>
    <h1>Chilled Greese!</h1>
    
    <h5><a href="../index.html">Back to Homepage</a></h5>

    <p>Grab your spoonerism and a nice bowl of tomato soup, it's go-time, bitch.</p>
    <img src="../resources/chilled.jpg" alt="Sammich" width="310" height="500"/>
    
    <h5>Ingredients:</h5>
    <ul>
        <li>Bread</li>
        <li>Butter</li>
        <li>Cheese</li>
    </ul>

    <h5>Steps:</h5>

    <ol>
        <li>Butter bread</li>
        <li>Add cheese between bread slices</li>
        <li>Pan fry on both sides</li>
    </ol>



</body>





</html>