<!DOCTYPE html>

<html lang = "en">

<head>
    <meta charset = "UTF-8">
    <title>Lasagna Recipe</title>

</head>


<body>
    <h1>Lasagna!</h1>
    <h5><a href="../index.html">Back to Homepage</a></h5>
    <p>Ay Ma! Oh! A Jersey-Italian staple.</p>
    <img src="../resources/las.jpg" alt="Lasagna" width="500" height="500"/>

    <h5>Ingredients:</h5>
    <ul>
        <li>Pasta</li>
        <li>Sauce</li>
        <li>Meat</li>
        <li>Cheese</li>
    </ul>

    <h5>Steps:</h5>

    <ol>
        <li>Cook meat</li>
        <li>Mix meat with sauce</li>
        <li>Cook pasta</li>
        <li>Layer pasta with sauce and cheese</li>
        <li>Bake in oven</li>
    </ol>




</body>





</html>