<!DOCTYPE html>

<html lang = "en">

<head>
    <meta charset = "UTF-8">
    <title>Steak Recipe</title>

</head>


<body>
    <h1>Steak!</h1>
    <h5><a href="../index.html">Back to Homepage</a></h5>
    <p>I would make a terrible Hindu. I love eating cows.</p>

    <img src="../resources/steak.webp" alt="Meat Photo" width="500" height="310"/>

    <h5>Ingredients:</h5>
    <ul>
        <li>New York cut. Marbling is better than a filet.</li>

    </ul>

    <h5>Steps:</h5>

    <ol>
        <li>If anyone asks for anything other than medium rare, we ask them politely yet firmly to leave.</li>

    </ol>




</body>





</html>