<!DOCTYPE html>

<html lang = "en">

<head>
    <meta charset = "UTF-8">
    <title>Tomato Soup Recipe</title>

</head>


<body>
    <h1>Tomato Soup!</h1>
    <h5><a href="../index.html">Back to Homepage</a></h5>
    <p>Looks like it's time to get my life together</p>

    <img src="../resources/soup.gif" alt="Soup" width="310" height="310"/>

    <h5>Ingredients:</h5>
    <ul>
        <li>Soup</li>

    </ul>

    <h5>Steps:</h5>

    <ol>
        <li>Remove soup from can</li>
        <li>Heat</li>
        <li>Lament the fact Seinfeld is over and the Soup Nazi is no longer.</li>

    </ol>


</body>





</html>